<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django-Formulaire de Contact</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% load static %}
    {% load bootstrap4 %}
    {# Load CSS  #}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    

</head>
<body>
    {% block content %}
    {% endblock content %}

    {# Load JavaScript #}
    {% bootstrap_javascript jquery='full' %}
</body>
</html>